@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT@0,9..144,100..900,0..100;1,9..144,100..900,0..100&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&family=Roboto:wght@700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Fraunces:ital,opsz,wght,SOFT@0,9..144,100..900,0..100;1,9..144,100..900,0..100&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:wght@300;400;500;700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", serif;
}

header {
    background: url(img/happy-young-black-woman-smiling-PEK4C4N.jpg) center center/cover no-repeat;
    position: relative;
    height: 90vh;

}

/* header::before {
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .6);
}

header * {
    z-index: 10;
} */

#navbar {
    background: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar img {
    width: 120px;
    height: 85px;
    margin-left: 100px;
}

#navbar nav {
    display: flex;
    align-items: center;
}

#navbar nav ul {
    display: flex;
    margin-right: 30px;
}

#navbar nav ul li a {
    color: #ffffff;
    padding: 10px;
    font-weight: 400;

}

#navbar nav ul li a:hover {
    border-bottom: 2px solid #78A1A7;
    transition: .2s;

}

#navbar nav .book-btn {
    margin-right: 60px;
    padding: 15px 30px;
    background-color: #78A1A7;
    color: #ffffff;

}

#navbar nav .book-btn:hover {
    background: #78a1a7ce;
}

header .content {
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

header .content h1 {
    margin-left: 100px;
    color: #ffffff;
    font-size: 120px;
    font-family: "Belleza", serif;
    font-weight: 500;

}

header .content a {
    margin-left: 100px;
    padding: 15px 30px;
    background-color: #78A1A7;
    color: #ffffff;
    /* display: block; */
    display: none;
}

/* header end */

/* booking start */
#book {
    padding: 200px 100px;
}

#book .containder {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#book .containder h2 {
    font-size: 80px;
    font-family: "Belleza", serif;
    font-weight: 500;
    color: #333333;
}

#book .containder div {
    width: 40%;
    margin: 0 40px;

}

#book .containder div p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    color: #333333;
}

#book .containder div .book-btn {
    display: inline-block;
    margin-top: 60px;
    padding: 18px 30px;
    background-color: #78A1A7;
    color: #ffffff;
}

/* booking end */
/* choose start */
#choose {
    background: #D08080;
    height: 40vh;
    display: flex;
    align-items: center;
}

#choose h2 {
    color: #ffffff;
    padding: 100px;
    font-size: 50px;
    font-family: "Belleza", serif;

}

/* chooes end */

/* <!-- treatments end --> */
#treatments {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    padding: 130px 30px 130px 100px;
    /* flex-wrap: nowrap; */

}

#treatments .imgs {
    text-align: end;
}

#treatments .imgs img {
    width: 270px;
    height: 270px;
    padding: 8px;
    text-align: right;


}

#treatments .txt h2 {
    font-size: 42px;
    font-family: "Belleza", serif;

    /* margin: 10px 0; */

    /* margin-top: 30px; */
}

#treatments .txt p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    color: #333333;
    /* width: 60%; */
}

#treatments .txt a {
    display: inline-block;
    margin-top: 40px;
    padding: 18px 30px;
    background-color: #78A1A7;
    color: #ffffff;
}

/* <!-- treatments end --> */
/* about start */
#about {
    display: flex;
    height: 80vh;
    /* background: #78A1A7; */
}

#about .about-img {
    width: 50%;
}

#about .about-img img {
    width: 100%;
    height: 100%;
}

#about .about-txt {
    width: 50%;
    height: 100%;
    background: #78A1A7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 80px 0 150px;

}

#about .about-txt h2 {
    color: #ffffff;
    font-size: 50px;
    font-family: "Belleza", serif;

}

#about .about-txt p {
    color: #ffffff;
    padding: 40px 100px 40px 0;
    line-height: 1.6;
    font-size: 18px;
}

#about .about-txt a {
    padding: 20px 35px;
    background-color: #ffffff;
    color: #78A1A7;
}

/* about end */
/* blog start */

#blog {
    height: 95vh;
    background: url(img/pexels-craytive-4980169.jpg)center center/cover no-repeat;
    position: relative;
    color: #333333;
}

#blog .blog-txt {
    background: #ffffff;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 480px;
    height: 600px;
    padding: 50px;
}

#blog .blog-txt h3 {
    padding: 30px 0;
    font-size: 36px;
    font-family: "Belleza", serif;

}

#blog .blog-txt p {
    line-height: 1.6;
}

#blog .blog-txt a {
    display: inline-block;
    margin-top: 40px;
    padding: 18px 30px;
    background-color: #78A1A7;
    color: #ffffff;
}

/* blog end */
/* contact start */
#contact {
    background: #ffffff;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact .contact-content h3 {
    padding: 30px 0;
    font-size: 19px;
    font-family: "Belleza", serif;
    color: #D08080;

}

#contact .contact-content p {
    font-size: 14px;
    color: #333333;
    padding-bottom: 3px;
}

#contact form {
    width: 55%;
}

#contact form h3 {
    color: #78A1A7;
    font-size: 56px;
    font-family: "Belleza", serif;
    font-weight: 200;
    padding: 50px 0;


}

#contact form p {
    padding-bottom: 10px;
    font-size: 16px;
}

#contact form p a {
    color: #D08080;
    font-weight: 700;

}

#contact form input {
    background-color: #FCFCFC;
    border: 1px solid #A9A9A9;
    width: 100%;
    height: 50px;
    margin: 15px 0;
    padding: 10px;
    color: #333333;

}

#contact form .first-row {
    padding-top: 30px;
}

#contact form .first-row,
#contact form .second-row,
#contact form .third-row,
#contact form .fourth-row {
    display: flex;
}

textarea {
    background-color: #FCFCFC;
    border: 1px solid #A9A9A9;
    width: 100%;
    /* height: 50px; */
    margin: 15px 0;
    padding: 10px 10px;
    color: #333333;
}

form button {
    display: inline-block;
    margin-top: 60px;
    padding: 18px 30px;
    background-color: #78A1A7;
    color: #ffffff;
    border: none;

}

/* contact end  */
/* footer start */

footer {
    padding: 50px 100px;
    background: #333333;

}

.footer-info {
    border-bottom: 1px solid #FCFCFC;
    display: flex;
    justify-content: space-between;

}

.footer-info .footer-links {
    display: flex;

    color: #ffffff;
}

.footer-info .footer-links .map,
.footer-info .footer-links .policise {
    padding-left: 80px;
}

.footer-info .footer-links .map h3,
.footer-info .footer-links .policise h3 {
    padding-bottom: 10px;
    font-size: 18px;
    color: #ffffff;

}

.footer-info .footer-links .map a,
.footer-info .footer-links .policise a {
    color: #ffffff;
    display: block;
    padding-bottom: 8px;
    font-size: 14px;

}

.footer-info img {
    width: 200px;

}

footer p {
    padding-top: 20px;
    padding-left: 10px;
    color: #ffffff;
    line-height: 1.6;
}

/* footer end */

/* Responsive */

@media (max-width: 1400px) {
    #treatments {
        padding: 60px;
        padding-right: 20px;
    }

    #treatments .txt {
        margin-top: 100px;
    }

    #treatments .txt h2 {
        margin: 40px 0;

    }

    #treatments .txt p {
        width: 100%
    }

}

@media (max-width: 1200px) and (min-width: 992px) {
    #navbar nav .book-btn {
        display: none;
    }

    header .content a {
        display: block;
    }

    #contact {
        /* flex-direction: column; */
        padding: 50px;
    }

    #contact form {
        width: 50%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #navbar {
        flex-direction: column;
    }

    #navbar nav .book-btn {
        display: none;
    }

    #navbar img {
        margin: auto;
    }

    header .content a {
        display: block;
    }

    #book {
        padding: 200px 60px;
    }

    #book .containder h2 {
        font-size: 65px;
    }

    #about {
        flex-direction: column;
        height: auto;

    }

    #about .about-img {
        width: 100%;
    }

    #about .about-txt {
        width: 100%;
        padding: 180px 180px 220px 80px;
    }

    #treatments {

        /* width: 100%; */
        /* justify-content: space-between; */
        padding: 130px 20px 130px 30px;


    }

    #treatments .txt h2 {
        font-size: 32px;
        display: inline;


    }

    #treatments .txt p {
        font-size: smaller;
        padding-top: 20px;
    }

    #treatments .imgs img {
        width: 240px;
        height: 240px;
        padding: 8px;
        text-align: right;


    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #navbar {
        flex-direction: column;
    }

    #navbar nav .book-btn {
        display: none;
    }

    header .content a {
        display: block;
        margin: 0 0 90px 60px;
    }

    #navbar img {
        margin: auto;
    }

    #navbar nav ul {
        flex-direction: column;
        text-align: center;
    }

    #navbar nav ul li {
        padding-bottom: 10px;
    }

    header .content h1 {
        margin-left: 60px;
        color: #ffffff;
        font-size: 80px;
        font-family: "Italianno", serif;
        font-weight: 500;
    }

    #book {
        padding: 200px 60px;
    }

    #book .containder {
        flex-direction: column;
        text-align: left;
    }

    #book .containder div {
        width: 100%;
        margin: 0;

    }

    #book .containder h2 {
        font-size: 45px;
        padding-bottom: 30px;
    }

    #choose h2 {
        font-size: 35px;
        padding: 60px;
    }

    #treatments {
        flex-direction: column;
        padding: 30px;
    }

    #treatments .imgs {
        padding-top: 30px;
        text-align: center;
    }

    #about {
        flex-direction: column;
        height: auto;

    }

    #about .about-img {
        width: 100%;
    }

    #about .about-txt {
        width: 100%;
        padding: 180px 180px 220px 80px;
    }

    #blog .blog-txt {
        background: #ffffff;
        position: absolute;
        inset: 80px;
        /* top: 100px; */
        /* left: 100px; */
        width: 480px;
        height: 600px;
        padding: 50px;
    }

}

@media (max-width: 575px) {
    #navbar {
        flex-direction: column;
    }

    #navbar nav .book-btn {
        display: none;
    }

    header .content a {
        display: block;
        margin: 0 0 130px 20px;
    }

    #navbar img {
        margin: auto;
    }

    #navbar nav ul {
        flex-direction: column;
        text-align: center;
    }

    #navbar nav ul li {
        padding-bottom: 10px;
    }

    header .content h1 {
        margin-left: 20px;
        color: #ffffff;
        font-size: 60px;
        font-family: "Italianno", serif;
        font-weight: 500;
    }

    #book {
        padding: 200px 20px;
    }

    #book .containder {
        flex-direction: column;
        text-align: left;
    }

    #book .containder div {
        width: 100%;
        margin: 0;

    }

    #book .containder h2 {
        font-size: 45px;
        padding-bottom: 30px;
    }

    #choose h2 {
        font-size: 18px;
        padding: 60px 10px;
    }

    #treatments {
        flex-direction: column;
        padding: 15px;

    }

    #treatments .imgs {
        padding-top: 30px;
        /* text-align: center; */
    }

    #treatments .txt h2 {
        font-size: 30px;
    }

    #treatments .imgs img {
        width: 100%;
        height: 270px;
        padding-top: 8px;
        text-align: center;


    }

    #treatments .txt {
        padding-left: 15px;
    }

    #about {
        flex-direction: column;
        height: auto;

    }

    #about .about-img {
        width: 100%;
        height: 100%;
    }

    #about .about-txt h2 {
        font-size: 30px;
    }

    #about .about-txt {
        width: 100%;
        padding: 100px 40px;
    }

    #blog .blog-txt {
        background: #ffffff;
        position: absolute;
        inset: 60px;
        /* top: 100px; */
        /* left: 100px; */
        width: 280px;
        height: 510px;
        padding: 25px;
    }

    #blog .blog-txt h3 {
        font-size: 24px;
        padding: 15px 0;
    }

}